body {
    background-color: #f7f7f7;  // Off White
}

body > .container {
    margin-top: 60px;
    margin-bottom: 40px;
}
// Primary
.btn-primary {
    color: #fff;
    background-color: #3097D1;
    border-color: #2a88bd;
}

// Navbar
.navbar {
    border: none;
    border-bottom: 1px solid transparent;
}
// .navbar .navbar-nav {
//     display: inline-block;
//     float: none;
// }
.navbar-nav, .navbar-form {
    margin-top:  15px;
}
.navbar .container {
    margin-top: 10px;
    margin-bottom: 10px;
}
.navbar-default {
    // background-color: #dbdbdb; // Lighter Silver (grey)
    background-image: linear-gradient(45deg, #dbdbdb, #c0c0c0);
    border-color: #fff; // white
    box-shadow: 10px 10px 5px #888888;
}
@media (min-width: 768px)
{
    .navbar {
        border-radius: 0px;
    }
    .navbar-left {
        margin-right: 40px;
    }
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    border-bottom: 1px solid white;
    background-color: inherit;  
}
// Footer
footer {
    // background-color: #dbdbdb;
    background-image: linear-gradient(45deg, #dbdbdb, #c0c0c0);
    padding-bottom: 40px;
    border-top: 1px solid #fff;
    box-shadow: 10px 10px 5px #888888;
}
footer .terms a {
    padding-right: 20px;
}
footer ul li:first-child {
    //border-bottom: 1px solid #6194B7;
    //text-align: center;
    margin-bottom: 6px;
    text-transform: uppercase;
}